
@{
    ViewData["Title"] = "Admin";
}

<table width="800">
    <tr width="800">
        <td>
            <a class="link-opacity-100" href="~/AdminStudents/Index">Student List</a>
        </td>
        <td>
            <a class="link-opacity-100" href="~/AdminGrants/Index">Grants</a>
        </td>
        <td>
            <a class="link-opacity-100" href="~/Admin/Abstracts/index">Abstracts</a>
        </td>
        <td>
            <a class="link-opacity-100" href="~/Admin/Manuscripts/index">Manuscripts</a>
        </td>
       <td>
            <a class="link-opacity-100" href="~/Admin/Patents/index">Patents</a>
        </td>
        <td>
            <a class="link-opacity-100" href="~/Admin/Videos/index">Videos</a>
        </td>
    </tr>
</table>

