
@{
    ViewData["Title"] = "Admin";
}

<table width="800">
    <tr width="800">
        <td>
            <a class="link-opacity-100" href="~/AdminStudents/Index">Student List</a>
        </td>
        <td>
            <a class="link-opacity-100" href="~/AdminGrants/Index">Grants</a>
        </td>
        <td>
            <a class="link-opacity-100" href="~/Admin/Abstracts">Abstracts</a>
        </td>
        <td>
            <a class="link-opacity-100" href="~/Admin/Manuscripts">Manuscripts</a>
        </td>
       <td>
            <a class="link-opacity-100" href="~/Admin/Patents">Patents</a>
        </td>
        <td>
            <a class="link-opacity-100" href="~/Admin/Videos">Videos</a>
        </td>
    </tr>
</table>

