@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <div class="card ">
        <div class="card-header text-white bg-primary">
            BU Login
        </div>
        <div class="card-body">
            <p>Please click the button below to log in using your Boston University credentials.</p>
            <a class="btn btn-primary" href="~/Authentication/LoginPostShibboleth">Log in</a>
        </div>
    </div>
</div>
<br />
<div class="alert alert-info">
    <strong><span class="glyphicon glyphicon-info-sign"></span> Site availability </strong> may be affected during <a href="http://www.bu.edu/tech/about/service/change/windows/" target="_blank"> scheduled maintenance windows</a>
</div>