@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
   
    <p>Weclome to the T32 Training Grant system.  If you have not created a profile in the system, click submit to complete a brief form.  You will then be re-directed to a page where can enter information on training, publications, abstracts, presentations, etc. If you are registrered you will be redirected to a page where you can update your profile and training experience.</p>
    <div class="form-group">
         <form asp-action="Index">
    <input type="submit" value="Submit" class="btn btn-danger" />
</form>
    </div>
</div>
