
@{
    ViewData["Title"] = "View";
}

<h1></h1>

<a href="/trainingrec/index" class="btn btn-secondary">Training</a>
<a href="/Abstracts/index" class="btn btn-secondary">Abstracts</a>
<a href="/Manuscripts/index" class="btn btn-secondary">Manuscripts</a>
<a href="/Patents/index" class="btn btn-secondary">Patents</a>
<a href="/Videos/index" class="btn btn-secondary">Video Presentations</a>