@model T32_TraineeGrant.TrainingRecordOther

@{
    ViewData["Title"] = "Edit";
}
@* <p><a href="#" class="link-underline-primary">Primary underline</a></p> *@
<h4>
    Other<br />
    @ViewBag.projname<br />
    @ViewBag.Lastname @ViewBag.firstname
</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="Trainingrecordid" />
            <input type="hidden" asp-for="Buid" />
            <input type="hidden" asp-for="Personid" />
            @* <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Trainingrecordid" class="control-label"></label>
                <input asp-for="Trainingrecordid" class="form-control" />
                <span asp-validation-for="Trainingrecordid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Buid" class="control-label"></label>
                <input asp-for="Buid" class="form-control" />
                <span asp-validation-for="Buid" class="text-danger"></span>
            </div> *@
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                @Html.TextAreaFor(model => model.Description, new { rows = "10", cols = "56", @class = "form-control" })
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <div>
        <a asp-action="Index">Back to List</a>
    </div>
</div>

